#header {
  justify-content: center;
}
.daily_discount b {
  font-weight: 900;
  color: #fff0b2;
}
.daily_discount {
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #001e42 0% 0% no-repeat padding-box;

  color: white;
}
.daily_discount a {
  font-size: clamp(10px, 2vw, 11px);
  color: #7dc9ff;
  text-transform: uppercase;
  text-decoration: none;
}

.daily_discount span,
.daily_discount a,
.daily_discount b {
  padding-left: 5px;
}
#nav__business {
  display: flex;
  /* width: 94%; */
  justify-content: space-between;
  margin: 0 auto;
  /* background-color: aqua; */
  padding: 8px 0;
}
.nav__business_item_left a,
.nav__business_item_right a {
  color: #004387;
  font-size: 12px;
  text-decoration: none;
  padding: 0px 17px;
}

#primary_content {
  background: #004387;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo img {
  width: 245px;
}
#searchbar {
  display: flex;
  color: #004387;
  align-items: center;
  background: white;
  border-radius: 0 7px 7px 0;
  padding: 0 15px;
}
.serchbar {
  outline: none;
  padding: 8px;
  border-radius: 7px 0 0 7px;

  /* border: 1px solid rgb(255, 255, 255); */
  border: none;

  width: 300px;
}
.serchbar::placeholder {
  padding-left: 15px;
}

#primary_content_right {
  display: flex;
  /* align-items: baseline; */
}
#user_icon {
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.fa-user {
  margin-left: 15px;
  color: white;
}

#signin_text {
  display: flex;
  color: white;
  cursor: pointer;

  align-items: center;
  justify-content: center;
}

#cart_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2px;
  color: white;
}
#cart_icon i {
  font-size: 30px;
}
#cart_icon span {
  position: absolute;
  top: 8px;
  left: 10.5px;
  font-weight: 900;
  color: #001e42;
}
#nav_main {
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-top: 0.005px solid #6590bb;
  background: #004387;
  padding-top: 0px;
  padding-bottom: 4px;
}
#nav_main a {
  padding: 5px 15px;

  text-decoration: none;
}
.nav_main_left {
  display: flex;
  align-items: center;
}
.nav_main_left a {
  color: black;
}
.nav_main_right a {
  color: white;
}
.nav_main_right a:hover {
  border-top: 3px solid white;
}
#dropdown-basic {
  background-color: transparent;
  color: white;
  font-size: 17px;
}
.mobileSearchBar {
  display: none;
  background: #004387;
  margin-top: -1px;
  padding-top: 5px;
  width: 100%;
  justify-content: center;
}
.userIcon {
  margin-right: 5px;
}
#dropdown-basic.btn {
  border: none;
}
.unusedLinks {
  color: white;
}
.homePageSlideshowimg {
  height: 350px;
}
@media screen and (max-width: 780px) {
  .mobileSearchBar {
    display: flex;
  }
  #primary_content_right .pcsearch {
    display: none;
  }
  .nav_main_right {
    display: none;
  }
  .homePageSlideshowimg {
    height: 170px;
  }
}
@media screen and (max-width: 480px) {
  .daily_discount,
  #nav__business {
    display: none;
  }

  #logo img {
    width: 175px;
  }
  #primary_content {
    padding: 4px 10px;
  }
  #cart_icon {
    margin-right: 0;
  }
}
