.ordersHeading {
  margin: 30px 100px;
}

.ordersCards {
  width: 80%;
  margin: auto;
}
.ordercard {
  border-radius: 5px;
  border: 2px solid rgba(128, 128, 128, 0.486);
  /* width: 90%; */
  margin: auto;
  margin-bottom: 50px;
  background: white;
}
.ordercard > div {
  border-bottom: 1px solid rgba(128, 128, 128, 0.217);
}
.orderCardHeader {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: rgb(205, 212, 219);
}
.orderPrdetails {
  font-size: 14px;
  color: grey;
}
.orderPrdetails span {
  font-size: 14px;
  color: rgb(52, 51, 51);
}
.orderCardHeader select {
  max-width: 140px;
  font-size: 14px;
  color: rgb(52, 51, 51);
}
.showDetailsbtn {
  padding: 4px 10px;
  margin-right: 5px;
  min-width: 115px;
}
.orderCardHeader h4 {
  width: fit-content;
  padding: 12px 20px;
  background-color: rgb(63, 64, 65);
  border-radius: 5px 0 0 0;
  font-size: 15px;
  color: white;
  margin-bottom: 0;
}
.orderCardBody,
.orderPrCardLeft,
.orderCardFooter {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.orderPrCardLeft {
  width: 90%;
}
.orderPrCardLeft > :nth-child(2) {
  display: flex;
  min-width: 200px;
  justify-content: space-between;
}
.orderPrCardimg img {
  width: 120px;
  border-radius: 10px;
}
.orderPrCardNdetails {
  margin-left: 15px;
}
.orderPrCardQuantity {
  font-size: 14px;
  color: grey;
}
.orderPrCardQuantity span {
  color: rgb(68, 65, 65);
}
.orderPrCardName {
  max-width: 300px;
  font-size: 14px;
}
.orderPrCardRight {
  /* border: 1px solid red; */
  justify-content: space-between;
  border-left: 1px solid rgba(128, 128, 128, 0.447);
  min-width: 40%;
  padding: 15px;
}
.cancleOrderbtn {
  border: transparent;
  background-color: rgb(228, 8, 15);
  padding: 6px 15px;
  border-radius: 5px;
  border: 2px solid rgb(228, 8, 15);
  color: white;
  font-weight: 600;
}
.cancleOrderbtn:hover {
  background-color: white;
  border: 2px solid rgba(228, 8, 15, 0.676);
  color: rgba(228, 8, 15, 0.756);
}

.orderTotalamount {
  color: grey;
  text-align: center;
}
.orderTotalamount span {
  color: rgb(70, 66, 66);
  padding: 0 10px;
}
.orderCardFooter {
  justify-content: space-around;
  gap: 20px;
}
.orderCardFooter span {
  font-size: 16px;
}
.orderCancleConfirmModal {
  padding: 20px;
  text-align: center;

  border-radius: 8px;
}
.orderCancleConfirmModal button {
  margin: 10px;
}
.orderCancleConfirmModal h3 {
  line-height: 40px;
  font-size: 18px;
}
@media screen and (max-width: 576px) {
  .ordersCards {
    width: 96%;
  }
  .orderCardHeader select {
    max-width: 120px;
    padding: 4px;
  }
  .orderCardHeader h4 {
    padding: 5px 10px;
    background-color: rgb(63, 64, 65);
    border-radius: 5px 0 0 0;
    font-size: 15px;
    color: white;
    margin-bottom: 0;
  }
  .orderCardHeader {
    position: relative; /* Set position to relative for the container */
  }
  .orderCardHeader > :nth-child(3) {
    padding-right: 6px;
  }
  .cancleOrderbtn {
    margin-left: 28px;
  }

  .showDetailsbtn {
    /* position: absolute; 
    top: 0; 
    right: 0; 
    float: none;
    min-width: 120px;
    padding: 2px;
    margin-right: 0; */
  }
  .orderCardBody {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .orderPrCardLeft {
    position: relative;
    margin-bottom: 15px;

    flex-direction: column;
  }
  .orderPrCardLeft > :last-child {
    margin-top: 20px;
  }
  .orderPrCardLeft > :nth-child(2) {
    margin-top: 20px;
  }
  .orderPrCardLeft img {
    width: 100px;
  }
  .orderPrCardRight {
    border: none;
  }

  .orderCancleConfirmModal {
    padding: 0px;
    text-align: center;
  }
}
