.uppercase {
  text-transform: uppercase;
}
Link {
  text-decoration: none;
  color: #06c;
}
Link:hover {
  cursor: pointer;
  text-decoration: underline;
}
button {
  cursor: pointer;
}

li {
  /* font-size: px; */
  /* text-align: center; */
  list-style: none;
  line-height: 25px;
}
img {
  cursor: pointer;
}

h3 {
  line-height: 0.8;
}
.modal-content {
  border: none;
}
.modal-backdrop.show {
  opacity: 0;
}
.alertmodel .p-3 {
  padding: 0rem !important;
}
.alertmodel.modal-dialog {
  margin-top: 0;
  margin-right: 0;
  color: white;
}
