.uppercase {
  text-transform: uppercase;
}
a{
  text-decoration: none;
  color: #06c;
}
a:hover{
  text-decoration: underline;
}
button{
  cursor: pointer;
}
button:hover{
  border: 2px solid black;
  border-radius: 5px;
}
li{
  /* font-size: px; */
  /* text-align: center; */
  list-style: none;
  line-height: 25px;
}
img{
  cursor: pointer;
}

