
#body{
    background: white;
}


.main{

    
/* 
    padding: 20px; */
}


.search_heading{
   
    font-size: 36px!important;
    display: inline-block;
    margin: 10px 0 30px 20px;
    margin-top: 20px;
    /* float: left; */
    font-weight: 400;
}
.sort_box

{
    margin: auto;
    width: 75%;
    margin-bottom: 10px;
    padding: 20px 0;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 50% 50%;
}
.sort_by_price{
    width: fit-content;
    margin: auto;
}
.sort_box input::placeholder {
    font-size: 16px;
    color: grey;
  }
 .sort_box input ,.sort_box select{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 110px;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid grey;
  }
  .sort_box select{
    width: 150px;
    font-size: 16px;
    color: grey;
  }

 .sort_box input:hover {
    border: 1px solid #004387;
  }
  .card_box{
   
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    width: 75%;
    /* height: 300px; */
    background-color: #f2f2f2;
   
  }
  .card_box >div{
    background-color: white;

    padding: 15px;
  }
  .card_box>div img{
    width: 75%;
    display: block;
    margin: auto;
    

  }
  .card_box>div>:nth-child(4){
    font-style: normal;
    cursor: text;
    margin-top: 10px;
    font-size: 11px;
    margin-right: 6px;
    color: #707070;
  }

  .card_box>div>:nth-child(5){
    margin-top: 10px;
  }
  .card_box >div h4{
    margin-top: 5px;
    font-size: 30px;
    font-weight: 400;

    margin-bottom: 6px;
  }
  .card_box>div>:nth-child(6)>:first-child{
    color: #108a00;
    font-weight: bold;
    font-size: 13px;
  }
  .card_box>div>:nth-child(6){
    font-size: 12px;
    font-weight: 400;
    color: #222;
    display: block;
    margin-top: 4px;
    line-height: 1.4;
  }
  .card_box>div>:nth-child(7){
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    padding: 0 18px;
    
    
    border: 1px solid transparent;
    margin-bottom: 8px;
    height: 40px;
    color: white
    ;
    font-weight: 600;

   
    border-radius: 4px;
    background: linear-gradient(180deg,#fc5d37 0%,#ed5132 49%,#e64525 100%);
  }
  .card_box>div>:nth-child(7):hover{
    border: 1px solid #f1310a;
    cursor: pointer;
    font-size: 18px;

  }
  .card_box>div>:nth-child(8){
    font-size: 12px;
    color: #094801;
  }
   body section #new_release_cards{
    background-color: #f2f2f2;
  }
  #popular{
  font-size: 30px;
  }