* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
body {

  box-sizing: border-box;
  background-color: whitesmoke;
}

#header {
  /* background-color: aqua; */

  /* display: flex; */
  justify-content: center;
}
.daily_discount b {
  font-weight: 900;
  color: #fff0b2;
}
.daily_discount {
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #001e42 0% 0% no-repeat padding-box;

  color: white;
}
.daily_discount a {
  font-size: clamp(10px, 2vw, 11px);
  color: #7dc9ff;
  text-transform: uppercase;
  text-decoration: none;
}

.daily_discount span,
.daily_discount a,
.daily_discount b {
  padding-left: 5px;
}
#nav__business {
  display: flex;
  /* width: 94%; */
  justify-content: space-between;
  margin: 0 auto;
  /* background-color: aqua; */
  padding: 8px 0;
}
.nav__business_item_left a,
.nav__business_item_right a {
  color: #004387;
  font-size: 12px;
  text-decoration: none;
  padding: 0px 17px;
}
i {
  /* color: #004387; */
}
#primary_content {
  background: #004387;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo img {
  width: 245px;
}
#searchbar {
  display: flex;
  color: #004387;
  align-items: center;
  background: white;
  border-radius:0 7px 7px 0 ;
  padding: 0 15px;
}
.serchbar {
  padding: 8px;
  border-radius: 7px 0 0 7px;
  
  
  border: 1px solid rgb(255, 255, 255);
 
  width: 300px;
}
.serchbar::placeholder{
  padding-left: 15px;
}


#primary_content_right {
  display: flex;
/* align-items: baseline; */
}
#user_icon {
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.fa-user {
  margin-left: 15px;
  color: white;
}

#signin_text {
  
  color: white;
  display: flex;
  cursor: pointer;
  
  
  flex-direction: column;
}
#signin_text a> :nth-child(1)  {
  font-size: 11px;
  font-weight: 400;
  color: white;

}
#signin_text a> :nth-child(2) {
  font-size: 12px;
  font-weight: bold;
  
  color: white;
}
#cart_icon {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;

  color: white;
}
#nav_main {
  justify-content: space-between;
  display: flex;
  border-top: 0.005px solid #6590bb;
  background: #004387;
  padding: 8px;
}
#nav_main a {
  padding: 5px 15px;
  color: white;
  text-decoration: none;
}
#nav_main .nav_main_left a:hover {
  color: #004387;
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;

  background-color: white;
}
.nav_main_right a:hover {
  border-top: 3px solid white;
}
#slideshow_poster img {
  width: 100%;
}

#top_deals {
  margin-top: -2px;
  background-color: #004387;
}

#top_deals_head {
  padding: 20px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
#top_deals_head h1 {
  color: white;
  font-weight: normal;
  font-size: 32px;
  display: inline-block;
}
#top_deals_head i {
  margin-right: 10px;
  font-size: 32px;
  color: rgb(92, 196, 255);
}
/* #top_deal_cards {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.title {
  color: #06c;
  text-decoration: none;
}
.title:hover {
  text-decoration: underline;
}
.top_deal_card  {
  text-align: center;
  background-color: white;
  width: 190.857px;
  padding: 15px;
  margin-right: 15px;
  /* box-sizing: border-box; */
  /* padding: 10px; */
}
.top_deal_card img{
  width: 100%;
}
.top_deal_card h2 {
  font-weight: 400;
  padding: 4px 6px;
  font-size: 0.875em;
  width: 161.857px;
  margin-right: 10px;
}
.rating i {
  color: orange;
}
.market_price {
  padding: 4px 0;
  font-size: 0.8em;
  color: hsl(0, 0%, 40%);
  text-decoration: line-through;
}
.discount {
  font-weight: 700;
  font-size: 0.875em;
  padding: 4px 0;
}
.now_price {
  font-size: 0.875em;
}

/* 
slider part */

.slider {
  padding: 20px 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
#top_deal_cards {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
#top_deal_cards::-webkit-scrollbar {
  background-color: transparent;
  height: 7px;
  cursor: pointer;
}
#top_deal_cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  cursor: pointer;
}

.r_btn {
  right: 1px;
}
.l_btn,
.r_btn {
  height: 50px;
  width: 50px;
  top: 40%;
  color: #004387;

  font-size: 30px;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(232, 218, 218);
  border-radius: 50%;
  border: 2px solid #004387;
  cursor: pointer;
}
/* new release */
#new_releases{
  margin-top: 70px;
  padding: 0 15px;
  margin-bottom: 50px;
 
}
#new_releases section h3{
  font-weight: 400;
  margin: 20px 0;
  
}
/* #slider2{

  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;

} */
.card{
background-color: white;
  width: 192.857px;
  margin: 10px;
  padding: 15px;
}
.card img{
width: 100%;
}
.card a{
  font-weight: 400;
 
  font-size: 14px;
  width: 191.857px;
  padding: 0;
  margin: 0;
  line-height: 0;
  /* border: 1px solid rebeccapurple; */
 
  

}
.card a:hover{
  text-decoration:underline;

}
.new_release_price{
  margin: 10px 0;
}
.new_release_des{
 color: gray;
 font-size: 14px;
}

#new_release_cards{

  display: flex;
  
  
}

/* promoBanner */
#promoBanner{
  margin: 50px 0 10 0;
}
#promoBanner img{
  width: 100%;
}
/* product_display_banner
 */
 #product_display_banner{
  display: flex;

  width:100%;

 }
 #product_display_banner  div{
  margin: 10px;
 }
#product_display_banner img{
  width: 100%;
  height: 80%;
 
}
.promo-txt h4 {
  font-size: 18px;
    font-weight: 400;
    color: #000;
    padding: 10px 0;

}
.promo-txt>a{
line-height: 30px;
}
.promo-txt p{
  font-size: 13px;
  color: #000;
}
#evergreen_promo{
  padding:  50px 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
#evergreen_promo img{
  width: 100%;
}
.company_des{
  padding: 30px;
  background-color: white;
 
}
.company_des h1 ,.company_des h2{
  text-align: center;
  padding: 20px 0;
  font-weight: 400;
}
.company_des p{
  text-align: center;
  font-weight: 400;
  color:gray;
}
#footer_promo{
  padding: 40px;
  background-color: #004387;
  color: white;
  text-align: center;
}
#footer_promo a{
  color: white;
  text-decoration: underline;

}
#footer_help nav{
  padding: 40px 0;
  background-color: rgb(239, 227, 227);
  
  font-size: 24px;
  display: flex;
  justify-content: space-around;
}
#footer_help nav p:hover{
cursor: pointer;
  color: #004387;
}
#connect{
  background-color: white;
  padding: 50px 0;
width: 100%;
margin: auto;
  gap:2%;
  text-align: center;
 display: grid;
grid-template-columns: repeat(3,1fr);
}
#connect p{
  line-height: 25px;
  font-size: 17px;
}
#connect h4{
  font-size: 21px;
  /* font-weight: 400; */
    margin: 18px 0;
    line-height: 35px;
}
.feedback>:nth-child(1)~h4{
  padding: 15px 0;
}
#more_stories{
  line-height: 40px;
}
.input {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input input{
  padding: 12px;
  border-radius: 5px 0 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.495);

}
.input button{
  cursor: pointer;
  padding: 12px;
  border-radius:  0 5px  5px 0;
  border: none;
  font-weight: 500;
  color: white;
  background-color: #004387;
  font-size: 17px;
  margin-left: -4px;

}

.social_icon{

  font-size: 30px;
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-evenly;
  
}
.social_icon i{

  cursor: pointer;
}
.social_icon i:hover{
  font-size: 40px;
}

#footer_visit{
  padding: 50px 0;
  display: flex;
  background-color: #f2f2f2;
  /* justify-content: space-around; */
 
}
#footer_links{

 
  /* text-align: center; */
  padding-left: 50px;
  display: grid; 

  grid-template-columns: repeat(3,1fr);

  width: 100%;

  
}
#footer_visit h4{
  font-size: 21px;
  padding: 20px 0;
}
#location{
  text-align: center;

 
  width: 40%;
}
#trusted{

  width: 40%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
#trusted img{

  width: 100%;
  cursor: pointer;
 
}

.footer_copyright{
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  padding: 50px 0;
  color: white;
  background-color: #004387;
}
.footer_copyright a{
  color: white;
  text-decoration: underline;
}